
/********************************************************************************
CSS TABLE OF CONTENTS
===== Base ====
    |-- 1.0 - Reset
    |-- 2.0 - Gobal
    |-- 3.0 - Scroll
    |-- 4.0 - Navbar
    |-- 5.0 - Body
    |-- 6.0 - Footer
********************************************************************************/

/********************************** 1.0 - Reset ********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/***************************** 2.0 - Global ******************************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  box-sizing: border-box;
  color: #000000;
}

html,
body {
  background-color: #f6f0ed;
  margin: 0;
  padding: 0;
  font-family:'Quicksand',sans-serif;
  color: #000000;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: black
}


/****************************** 3.0 - Scroll **************************/
::-webkit-scrollbar {
  width: .6em;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #ea1d6f;
  border: 3px none #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/****************************** 4.0 - Navbar **************************/
.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  background-image:linear-gradient(to top, rgb(255, 255, 255) , rgb(95, 110, 114));
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.nav-item {
  margin: 0 40px;
  padding: 1em;
}

.hero {
  text-align: center;
  margin-top: 3em;
  padding: 3% 4%;
  background-image:linear-gradient(to bottom, rgb(255, 255, 255) , rgb(95, 110, 114));
  font-weight: 100;
}


.app-title {
  font-weight: 100;
  font-size: 3rem;
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
}


main {
  margin: 20px auto;
  width: 94%;
}


p {
  font-size: 1.2rem;
}

input {
    border: 1px solid #ccc;
    background: #FFF;
    width: 100%;
    margin: 0 0 5px;
    padding: 10px;
}

.card-header h2 {
  color: #f6f0ed;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 15px 0;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  background-color: #bdc6ca;
  box-shadow: 3px 3px #4a4e50;
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: #f6f0ed;
  background-color: #979190;
  transform: translate(0, 0);
  box-shadow: 2px 2px #28536b;
}

.btn-inline {
  display: inline;
}

.li-inline {
  display: inline;
}


/****************************** 5.0 - Body **************************/
.list-group {
  padding: 1%;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  background-image:linear-gradient(to bottom, rgb(255, 255, 255) , rgb(95, 110, 114));
  color: #f6f0ed;
  text-decoration: none;
  border-radius:10px;
  border:1px solid black;
}

.list-item:hover {
  border-color: white 3px solid;
}

.card {
  margin: 0 0 20px 0;
  border: 3px solid #000000;
  border-radius: 15px;
}

.card-header {
  color: #f6f0ed;
  background-image:linear-gradient(to top, rgb(255, 255, 255) , rgb(95, 110, 114));
  padding: 1%;
}

.card-body {
  padding: 1%;
}


.form-label,
.form-input,
.form-textarea {
  display: block;
  font-family: unset;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid #7ea8be;
  border-radius: var(--border-radius);
}

.min-100-vh {
  min-height: 100vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.col-auto {
  flex-grow: 1;
}


/****************************** 6.0 - Footer **************************/
.footer {
  padding: 1em;
  background-image:linear-gradient(to top, rgb(255, 255, 255) , rgb(95, 110, 114));
  border-top: 1px solid black;
  text-decoration: none;
  bottom: 0;
}
